/* Стили для карточки фильма */
.movie-card {
    background-color: #FFF4EA;
    width: 1280px;     /* фиксированная ширина */
    height: 450px;     /* фиксированная высота */
    color: #000000;
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Эффект при наведении на карточку */
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  /* Стили для изображения на карточке */
  .movie-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  /* Текст на карточке */
  .movie-card h3 {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Тень на картинке при наведении */
  .movie-card:hover img {
    opacity: 0.8;
  }
  
  .radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .toggle-container {
    display: flex;
    position: relative;
    width: 240px;
    background: #e5e7eb;
    border-radius: 9999px;
    padding: 4px;
  }
  
  .toggle-option {
    flex: 1;
    text-align: center;
    padding: 8px 0;
    font-weight: 500;
    color: #4b5563;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
  }
  
  .toggle-option input {
    display: none;
  }
  
  .toggle-option input:checked + span {
    color: #ffffff;
  }
  
  .toggle-slider {
    position: absolute;
    top: 4px;
    bottom: 4px;
    width: 50%;
    background: #D9BCF6;
    border-radius: 9999px;
    transition: transform 0.3s ease;
  }
  
  .toggle-option:first-child input:checked ~ .toggle-slider {
    transform: translateX(0);
  }
  
  .toggle-option:last-child input:checked ~ .toggle-slider {
    transform: translateX(100%);
  }